<%- include('./partials/header.ejs') %>

 <div class="card text-center">
  <div class="card-body">

    <h2 class="card-title">Welcome to The App</h2>
    <h5 class="card-title">Todo App</h5>
    <p class="card-text">Let's Add some Task for you</p>
    <a href="/add" class="btn btn-info">Add Task</a>  <a href="/display" class="btn btn-info">Display All Task</a>

  </div>
</div>

<%- include('./partials/footer.ejs') %>