<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
        <div class="container">
            <div class="row mt-5">
                <h1>Welcome to TodoApp</h1>
                <hr>
                <p>Register yourself or login to Add Task</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>